body {
	overflow: hidden;
}

.camera {
	width: 100vw;
	height: 100vh;
}

.image-container {
	position: absolute;
	display: none;
	top: 0vh;
	left: 17vw;
}

.image-container i {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	font-size: 2em;
	color: grey;
}

.image-container .image {
	height: 100vh;
}

.photo-button {
	position: absolute;
	bottom: 1em;
	right: 1em;
	background-color: lightgrey;
	border-radius: 50%;
	padding: 1em;
	cursor: pointer;
}

.photo-button i {
	font-size: 2em;
	color: grey;
}

.reload-button {
	position: absolute;
	bottom: 1em;
	left: 1em;
	background-color: lightgrey;
	border-radius: 50%;
	padding: 1em;
	cursor: pointer;
}

.reload-button i {
	font-size: 2em;
	color: grey;
}

.calibrate-button {
	position: absolute;
	bottom: 1em;
	right: 7em;
	background-color: lightgrey;
	border-radius: 50%;
	padding: 1em;
	cursor: pointer;
}

.calibrate-button i {
	font-size: 2em;
	color: grey;
}

.speeds {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	padding: 0.5em;
}

.tracking-rectangle {
	position: absolute;
	border: 4px solid;
	border-radius: 50%;
}

.marker,
.marker2 {
	position: absolute;
	border-radius: 50%;
	border: 6px solid red;
}

.clickMarker {
	border-color: green;
}

.centerMarker {
	border-color: blue;
}

.marker2 {
	border-color: orange;
}

.boundingCircle {
	position: absolute;
	border-radius: 50%;
	border: 3px solid yellow;
}